.alpha-list {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 20px;
    padding-left: 35px;
    text-align: left;
    text-indent: -35px
    }
.alpha-list1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    padding-left: 35px;
    text-align: left;
    text-indent: -35px
    }
.alpha-list2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    padding-left: 35px;
    text-align: left;
    text-indent: -35px
    }
.alpha-lists {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 5px;
    text-align: left;
    text-indent: 0
    }
.alpha-lists1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 80px;
    margin-right: 0;
    margin-top: 5px;
    text-align: left;
    text-indent: 0
    }
.author {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.blockquote {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.blockquote-in {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.blockquote-s {
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: left;
    text-indent: 0
    }
.blockquote-s1 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: left;
    text-indent: 0
    }
.blockquote-sh {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.blockquote-ss {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.blockquote1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.blockquoted {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.blockquoten {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 5px;
    text-align: left
    }
.blockquotet {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: left;
    text-indent: 0
    }
.blockquotet1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.blockquotet2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 15px;
    text-align: left;
    text-indent: 0
    }
.body-text {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: left;
    text-indent: 0
    }
.body-text-b {
    display: block;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.body-text-ss {
    display: block;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.body-text1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: left;
    text-indent: 0
    }
.body-text2 {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.body-text2s {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.body-text3 {
    display: block;
    margin-bottom: 15px;
    margin-left: -25px;
    margin-right: 0;
    margin-top: 15px;
    text-align: left;
    text-indent: 0
    }
.body-text4 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: left;
    text-indent: 0
    }
.box {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: left;
    text-indent: 0
    }
.box-text {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.box1 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    text-align: left;
    text-indent: 0
    }
.boxt {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 120px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: left;
    text-indent: 0
    }
.calibre {
    background-color: #fff;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre3 {
    font-size: 0.90909em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre4 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre9 {
    display: table-column
    }
.calibre10 {
    display: table-row;
    vertical-align: middle
    }
.calibre11 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: middle
    }
.calibre12 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre13 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre14 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    text-align: center;
    vertical-align: top
    }
.calibre15 {
    display: block;
    line-height: 1.2
    }
.calibre16 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 1px;
    padding-top: 5px;
    text-align: center;
    vertical-align: top
    }
.calibre17 {
    line-height: 1.2
    }
.calibre18 {
    font-weight: bold
    }
.calibre19 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre21 {
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre22 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre23 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre24 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre25 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre26 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre27 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 1px;
    padding-top: 10px;
    text-align: inherit;
    vertical-align: top
    }
.calibre28 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre29 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre30 {
    display: list-item
    }
.calibre31 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20px;
    text-align: inherit;
    vertical-align: top
    }
.calibre32 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 30px;
    text-align: inherit;
    vertical-align: top
    }
.calibre33 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 40px;
    text-align: inherit;
    vertical-align: top
    }
.calibre34 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 70px;
    text-align: inherit;
    vertical-align: top
    }
.calibre35 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 60px;
    text-align: inherit;
    vertical-align: top
    }
.calibre36 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 50px;
    text-align: inherit;
    vertical-align: top
    }
.calibre37 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 10px;
    text-align: center;
    vertical-align: top
    }
.calibre38 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: top
    }
.calibre39 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre40 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 1px;
    padding-top: 5px;
    text-align: inherit;
    vertical-align: top
    }
.calibre41 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 70px;
    margin-top: 0;
    text-indent: 0
    }
.calibre42 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 80px;
    margin-top: 0;
    text-indent: 0
    }
.calibre43 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 35px;
    margin-top: 0;
    text-indent: 0
    }
.calibre44 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: top
    }
.calibre45 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 10px;
    text-indent: 0
    }
.calibre46 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 60px;
    margin-top: 0;
    text-indent: 0
    }
.calibre47 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre48 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 60px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre49 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre50 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: top
    }
.calibre51 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre52 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 1px;
    padding-top: 15px;
    text-align: inherit;
    vertical-align: top
    }
.calibre53 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 15px;
    text-align: inherit;
    vertical-align: top
    }
.calibre54 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 40px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre55 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 40px;
    padding-right: 1px;
    padding-top: 15px;
    text-align: inherit;
    vertical-align: top
    }
.calibre56 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: bottom
    }
.calibre57 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 50px;
    padding-right: 200px;
    text-indent: 0
    }
.calibre58 {
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre59 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre60 {
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre61 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre62 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre63 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre64 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre65 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-indent: 0
    }
.calibre66 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 30px;
    text-indent: 0
    }
.calibre67 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre68 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre69 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre70 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 50px;
    text-indent: 0
    }
.calibre71 {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre72 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre73 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre74 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre75 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre76 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 20px;
    text-indent: 0
    }
.calibre77 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 70px;
    text-indent: 0
    }
.calibre78 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle
    }
.calibre79 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre80 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre81 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre82 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre83 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre84 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20 px;
    text-align: inherit;
    vertical-align: top
    }
.calibre85 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre86 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre87 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle
    }
.calibre88 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle
    }
.calibre89 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 25px;
    margin-top: 0;
    text-indent: 0
    }
.calibre90 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: bottom
    }
.calibre91 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: bottom
    }
.calibre92 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: bottom
    }
.calibre93 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: top
    }
.calibre94 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: top
    }
.calibre95 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre96 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre97 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.center {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: center;
    text-indent: 0
    }
.center-f {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 280px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.center1 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center1-f {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: center;
    text-indent: 0
    }
.center2 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center3 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center4 {
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center5 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center6 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center7 {
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0;
    vertical-align: top
    }
.center8 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: center;
    text-indent: 0
    }
.centerm {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 15px;
    text-align: justify;
    text-indent: 0
    }
.ch-toc {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: right;
    text-indent: 0
    }
.chapternumber {
    color: #7E7E7E;
    display: block;
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    text-align: center;
    text-indent: 0
    }
.chaptertitle {
    color: #939598;
    display: block;
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
    text-align: left;
    text-indent: 0
    }
.chaptertitle1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.chnum {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    text-align: right;
    text-indent: 0
    }
.chnum1 {
    color: #939598;
    display: block;
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
    text-align: center;
    text-indent: 0
    }
.chtitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.chtitle1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
    text-align: center;
    text-indent: 0
    }
.copyright {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.copyrights {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 280px;
    text-align: left;
    text-indent: 0
    }
.eq {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: middle;
    width: auto
    }
.eq1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: top;
    width: auto
    }
.front {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.hang {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 16px;
    text-align: left;
    text-indent: -16px
    }
.hang-sh {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 55px;
    text-align: left;
    text-indent: -55px
    }
.hang1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 24px;
    text-align: left;
    text-indent: -24px
    }
.hang2 {
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-indent: -16px;
    vertical-align: top
    }
.hangm {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-left: 24px;
    text-align: left;
    text-indent: -24px
    }
.hangm1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 80px;
    margin-right: 0;
    margin-top: 0;
    padding-left: 24px;
    text-align: left;
    text-indent: -24px
    }
.hangr {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-left: 20px;
    text-indent: -20px
    }
.hangr1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 20px;
    text-indent: -20px
    }
.img {
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: center
    }
.img1 {
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.img1a {
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.img2 {
    display: block;
    margin-bottom: 20px;
    margin-left: 280px;
    margin-right: 0;
    margin-top: 10px;
    text-align: left
    }
.imgs {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: center
    }
.indent {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 20px
    }
.leftt {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.leftt1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.line {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 45px;
    padding-right: 45px
    }
.list {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: left;
    text-indent: 0
    }
.list1 {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.list1o {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.list2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: left;
    text-indent: 0
    }
.list3 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.listt {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-left: 18px;
    text-align: left;
    text-indent: -18px
    }
.listt1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-left: 23px;
    text-align: left;
    text-indent: -23px
    }
.listz {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.num-list {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.num-listn {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.num-listnk {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.num-listns {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: -22px;
    margin-right: 0;
    margin-top: 20px;
    text-align: left
    }
.source {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.subhead {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.subhead1 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.subhead1s {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.subhead2 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-decoration: underline;
    text-indent: 0
    }
.subhead2s {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.subhead3 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-decoration: underline;
    text-indent: 0
    }
.tab {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.tab-s {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 80px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.tab-s1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 45px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.tab-s2 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.tab-s2k {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 90px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.tab-s2k1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 90px;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.tab-t {
    display: block;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: left
    }
.tab-t1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.tabd {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-indent: 0
    }
.tabss {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.tb {
    font-size: 0.875em;
    line-height: 1.2
    }
.tb4s {
    font-size: 1.125em;
    line-height: 1.2
    }
.title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    text-align: center;
    text-indent: 0
    }
.title1 {
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    text-align: center;
    text-indent: 0
    }
.title2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
    text-indent: 0
    }
.title3 {
    display: block;
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    text-align: right;
    text-indent: 0
    }
.title4s {
    color: #858789;
    line-height: 1.2
    }
.titles {
    font-weight: normal;
    line-height: 1.2
    }
.toc {
    color: #808285;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.toc1 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
    text-indent: 0
    }
.toc1s {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.tocf {
    color: #7E7E7E;
    display: block;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 50px;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.u {
    text-decoration: underline
    }
.un {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

